@import '../utils/mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--text-color-1);
}

p {
  font-size: var(--text-paragraph);
  line-height: 21px;
  font-weight: var(--font-w-regular);
}

button {
  font-size: var(--text-button);
  line-height: 24px;
  font-weight: var(--font-w-regular);
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
}

a:visited {
  color: var(--text-color-1);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.text-secondary-content {
  font-size: var(--text-secondary-content);
  line-height: var(--lh-secondary-content);
  font-weight: var(--font-w-regular);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.fw-bold {
  font-weight: var(--font-w-bold);
}

.fw-medium {
  font-weight: var(--font-w-medium);
}

.fw-regular {
  font-weight: var(--font-w-regular);
}

.text-align-r {
  text-align: right;
}

.text-align-l {
  text-align: left;
}

.line-height-unset {
  line-height: unset;
}

@include headline();
@include textFontSize();