@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
:root {
  --font-family: 'Noto Sans TC', PingFang, Microsoft JhengHei, Arial, sans-serif;
  --font-RubikMonoOne: 'Rubik Mono One', sans-serif;
  --text-h1: 35px;
  --text-h2: 30px;
  --text-h3: 24px;
  --text-h4: 20px;
  --text-h5: 18px;
  --text-button: 16px;
  --text-paragraph: 14px;
  --text-secondary-content: 12px;
  --lh-h1: 60px;
  --lh-h2: 30px;
  --lh-h3: 27px;
  --lh-h4: 25px;
  --lh-h5: 25px;
  --lh-button: 24px;
  --lh-paragraph: 21px;
  --lh-secondary-content: 18px;
  --font-w-bold: 700;
  --font-w-medium: 500;
  --font-w-regular: 400;
  --text-color-1: #3D3D3D;
  --text-color-2: #979797;
  --text-color-3: #D6D6D6;
  --primary-color: rgba(235, 225, 52, 1);
  --secondary-color: rgba(233, 237, 145, 1);
}