.container {
  display: flex;
  align-items: flex-start;
  padding: 10px;

  .img-gallery {
    width: 70%;
    display: grid;
    grid-gap: 3px;
    grid-template-areas: 
    "c1 c1"
    "c2 c3";

    & > img:nth-of-type(1) {
      grid-area: c1;
      padding-bottom: 5px;
    }

    & > img:nth-of-type(2) {
      grid-area: c2;

    }

    & > img:nth-of-type(3) {
      grid-area: c3;
    }
  }

  .product-info {
    width: 30%;
    padding: 0 10px;
    position: sticky;
    top: 10px;

    .title {
      display: flex;
      align-items: baseline;
      margin-bottom: 20px;

      .square-icon {
        width: 20px;
        height: 20px;
        background-color: var(--text-color-1);
        margin-right: 20px;
      }

      p {
        font-weight: var(--font-w-medium);
      }
    }

    .info {
      color: var(--text-color-2);
      margin-bottom: 20px;
    }

    .quantity-controls {
      display: flex;
      margin-bottom: 30px;
    
      & > button {
        padding: 10px 15px;
        background-color: var(--primary-color);
      }
    
      & > button:first-of-type {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
    
      & > button:last-of-type {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    
      input {
        flex-grow: 1;
        text-align: center;
      }
    }
      
    .add-btn {
      width: 100%;
      display: block;
      padding: 15px 35px;
      border-radius: 10px;
      background-color: var(--primary-color);

      svg {
        margin-right: 15px;
      }
    }

    .add-btn:hover {
      opacity: .5;
    }
  }
}