.container {
  padding: 10px;
 .title {
  display: flex;
  margin-bottom: 20px;

  .square-icon {
    width: 20px;
    height: 20px;
    background-color: var(--text-color-1);
    margin-right: 10px;
  }
 } 

 .img {
  margin-bottom: 20px;
 }

 .navigate-btn {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
 }
}